<%= turbo_frame_tag dom_id room do %>
    <div class="bg-white px-3 flex items-center hover:bg-grey-lighter cursor-pointer">
        <div class="ml-1 w-15">
            <%= link_to image_tag("default_group.png", class:"h-12 w-12 rounded-full"), room,  data: { turbo: 'false' } %>
        </div>
        <div class="ml-3 flex-1 py-4 w-85">
            <div class="flex items-bottom justify-between">
                <p class="text-dark font-custom-1 w-75">
                    <%= link_to room.name, room, data: { turbo: 'false' } %>
                </p>
                <p class="text-gray-500 font-custom-2 mt-1 w-25 text-right">
                    <% if room.messages.last != nil %>
                        <% if time_ago_in_words(room.messages.last.created_at) == "less than a minute" %>
                            seconds ago
                        <% else %>
                            <%= time_ago_in_words(room.messages.last.created_at) %>
                        <% end %>
                    <% else %>
                        N/A
                    <% end %>
                </p>
            </div>
            <div class="flex items-bottom justify-between">
                <p class="text-gray-500 mt-1 font-custom-2">
                    <% if room.messages.last != nil %>
                        <%= room.messages.last.body %>
                    <% else %>
                        N/A
                    <% end %>
                </p>
                <%= render "rooms/notifications", room: room %>
            </div>
        </div>
    </div>    
<% end %>